@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,200&display=swap');
@import "reset.css";
@import "status-bar.css";

body{
    font-family: 'Montserrat', sans-serif;
}

.welcome-header {
    margin: 93px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}